Ledger/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SpamServices.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpamServices.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Spam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Spam" nillable="true" type="tns:Spam" />
</xs:schema>